.quest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    top: 0px;
}
body {
    background: url(pics/divertidamente.png) no-repeat;
    background-size: cover;
}