body {
    background: url(pics/sun-god-depicted-as-powerful-man-renaissance-setting.jpg) no-repeat;
    background-size: cover;
}

.newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #5910e0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
   }
   
   .newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
   }
   
   .newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
   }
   
   .newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
   }
   
   .newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
   }
   
   @keyframes swing {
    0% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    25% {
     transform: rotate(70deg);
     animation-timing-function: ease-in;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   }
   
   @keyframes swing2 {
    0% {
     transform: rotate(0deg);
     animation-timing-function: linear;
    }
   
    50% {
     transform: rotate(0deg);
     animation-timing-function: ease-out;
    }
   
    75% {
     transform: rotate(-70deg);
     animation-timing-function: ease-in;
    }
   }
   
   body, html {
       margin: 0;
       padding: 0;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #f3f3f3;
   }
   /* Aqui acaba a tela de carregamento */

   /* Aqui para baixo, somente efeito paralaxe */
#content {
    display: none;
    color: white;    
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}
header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header, header:before{
    background: 50% 50% / cover;
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(HERO.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}


.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    flex-direction: column;
    color: grey;
}

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: column;
    }
}